@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">What will you write today?</h1>
    <p><a href="../Posts/Create">Share</a> your experience with the planet</p>
</div>
