@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">What will you write today?</h1>
    <p><a href="..\Posts\Create.cshtml">Share</a> your experience with the world</p>
</div>
